<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="provider" value="System.Data.MySqlClient"/>
		<add key="connectionString" value="server=localhost;user=root;database=bureau;port=3306;password=ko525282"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>